/********** content 最右侧内容 *****/
.content{
    position:absolute;
    left:180px;
    right:0;
    top:0;
    bottom:0;
    padding-left:30px;
    background-color:#fff;
    overflow-x:hidden;
    overflow-y:auto;
}
/*顶部带背景图的用户信息部分*/
.userinfo{
    height:110px;
    padding-left:35px;
    background:url(../img/account.jpg) no-repeat 0 -80px;
    overflow:hidden;
}
.userinfo .userphoto{
    width:86px;
    height:86px;
    margin-top:11px;
    border-radius:50%;
}
.userinfo .userphoto img{
    width:100%;
    height:100%;
}
.userinfo .usermsg{
    color:#fff;
    line-height:110px;
    margin-left:15px;
}
.userinfo .usermsg p{
    float:left;
    margin-right:35px;
}
.userinfo .usermsg span{
    padding:0 5px;
}
/*标题*/
.mycardtit{
    white-space: nowrap;
    height:52px;
    line-height:52px;
    font-size:18px;
    font-weight:normal;
    margin-right:30px;
    border-bottom:2px solid #e1e1e1;
}
/********** 我的银行卡  页面样式 **********/
.mycard{
    margin:10px 0 0 10px;
}
.mycard .card-content{
    width:180px;
    height:85px;
    border:1px solid #e1e1e1;
    border-radius:5px;
    padding:5px;
    float:left;
    margin:0 20px 20px 0;
}
.mycard .card-content span{
    display:block;
    width:180px;
    height:30px;
    line-height:30px;
    border-radius:4px;
    margin-bottom:30px;
}
.mycard .card-content em{
    padding-left:20px;
    height:30px;
    background:url(../img/bank.png) no-repeat 0 center;
}
.mycard .card-content b{
    letter-spacing:-6px;
    padding-right:6px;
}
.mycard .card-content p.manage{
    text-align:right;
}
.mycard .card-content a.blue{
    color:#56abe4;
}
.mycard .addcard{
    width:190px;
    height:95px;
    border:1px solid #e1e1e1;
    border-radius:5px;
    background-color:#DFEEF7;
    text-align:center;
    float:left;
    margin:0 20px 20px 0;
}
.mycard .addcard span{
    font-size:48px;
    color:#999;
    display:block;
    margin:0 auto -5px;
}
.mycard .addcard .blue{
    color:#56ABE4;
}
/*********** 添加银行卡 页面样式 **********/
.addcard-content{
    width:780px;
    height:312px;
    border:1px solid #e1e1e1;
    border-radius:5px;
    margin:20px auto;
    padding-top:20px;
}
.addcard-content p{
    margin:10px 0 0 185px;
}
.addcard-content p input{
    width:212px;
    padding-left:10px;
    height:32px;
    line-height:32px;
    border:1px solid #e1e1e1;
    *vertical-align:middle;
}
.addcard-content p em{
    display:block;
    margin:10px 0 10px 60px;
    color:#666;
}
.addcard-content .sure{
    display:block;
    width:92px;
    text-align:center;
    height:35px;
    line-height:35px;
    color:#fff;
    background-color:#fe5757;
    border-radius:5px;
    margin:25px 0 0 60px;
}