/********** content 最右侧内容 *****/
.content{
    position:absolute;
    left:180px;
    right:0;
    top:0;
    bottom:0;
    padding:0 20px;
    min-width:930px;
    background-color:#fff;
    overflow-x:hidden;
    overflow-y:auto;
}
.content>h3{
    white-space: nowrap;
    height:53px;
    line-height:53px;
    padding-left:15px;
    font-size:18px;
    font-weight:normal;
    border-bottom:1px solid #e1e1e1;
}
.details-container h4{
    font-size:18px;
    color:#222;
    font-weight:normal;
    margin-bottom:22px;
}
.details-container>form>div{
    margin:22px 0 0 27px;
}
.details-container em{
    color:#fe5757;
    font-size:16px;
    display:inline-block;
    margin-left:-3px;
}
/******商品图片******/
.details-container .proPic{
    margin:40px 0 0 5px;
}
.proPic h4{
    padding-left:22px;
}
.proPic h4 span{
    color:#666;
    font-size:14px;
}
.proPic .uploadPic{
    width:840px;
    height:125px;
    border:1px solid #e1e1e1;
    margin-top:20px;
    position:relative;
}
.proPic .uploadPic a.a-upload{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-14px;
    margin-left:-59px;
    width:118px;
    text-align:center;
    height:28px;
    line-height:28px;
    overflow:hidden;
    border-radius:3px;
    color:#fff;
    background-color:#fe5757;
}
.proPic .uploadPic input{
    position:absolute;
    right:0;
    top:0;
    font-size:100px;
    opacity:0;
    filter:alpha(opacity=0);
    cursor:pointer;
}
/*****商品信息****/
.proInfo p{
    height:32px;
    line-height:32px;
    font-size:16px;
    margin-bottom:20px;
}
.proInfo p span{
    padding-right:15px;
}
.proInfo p input{
    width:790px;
    padding-left:10px;
    height:30px;
    line-height:30px;
    border:1px solid #e1e1e1;
    color:#222;
    font-size:12px;
}
/*****商品设置*****/
.proSet .prompt{
    font-size:16px;
    margin-bottom:20px;
}
.proSet .prompt span{
    color:#fe5757;
    padding-right:15px;
}
.proSet .prompt a.addtype{
    color:#666;
    font-size:12px;
    padding:2px 10px 2px 20px;
    background:url(../img/plus.png) no-repeat 5px center;
    border:1px solid #e1e1e1;
}
.proSet .preferences{
    margin-bottom:10px;
    width:630px;
    height:62px;
}
.proSet .preferences p{
    float:left;
    line-height:30px;
    height:62px;
    margin-right:10px;
}
.proSet .preferences span{
    color:#666;
}
.proSet .preferences input{
    width:250px;
    padding-left:10px;
    height:30px;
    line-height:30px;
    border:1px solid #e1e1e1;
}
.proSet .preferences button{
    float:left;
    color:#fe5757;
    margin:30px 0 0 20px;
    height:30px;
    line-height:30px;
    font-size:12px;
}
/*****  商品定价设置 *****/
.proPrice .salePolicy p{
    height:20px;
    font-size:16px;
}
.proPrice .salePolicy p .help{
    display:inline-block;
    margin-left:10px;
    width:16px;
    height:16px;
    vertical-align:-1px;
    *vertical-align:3px;
    background:url(../img/help.png) no-repeat 0 0;
}
.proPrice .selectPeriod{
    height:30px;
    margin:10px 0;
}
.proPrice .selectPeriod p{
    float:left;
    margin-right:15px;
    font-size:12px;
}
.proPrice .period .danxuan{
    display:inline-block;
    width:78px;
    text-align:center;
    height:30px;
    line-height:30px;
    margin-right:15px;
    color:#666;
    border:1px solid #e1e1e1;
    cursor:default;
}
.proPrice .period .danxuan.on{
    background:url(../img/checked-ok.png) no-repeat 0 0;
}
.proPrice .switch .danxuan{
    display:inline-block;
    height:30px;
    line-height:30px;
    margin:0 30px 0 15px;
    cursor:default;
}
.proPrice .switch .danxuan.on{
    color:#38EB51;
    background:none;
}
.priceAdd .priceAddTit{
    margin-bottom:10px;
    font-size:16px;
}
.priceAdd .priceContent{
    width:810px;
    border:1px solid #e1e1e1;
    padding:15px;
    overflow:hidden;
}
.priceAdd .priceContent dl{
    float:left;
    width:60px;
    height:90px;
    margin-right:25px;
    text-align:center;
    cursor:pointer;
}
.priceAdd .priceContent dt{
    width:60px;
    height:60px;
    line-height:60px;
    border:1px solid #e1e1e1;
    border-radius:5px;
}
.priceAdd .priceContent dd{
    color:#fe5757;
    margin-top:10px;
    cursor:pointer;
}
.priceAdd .priceContent dl.addprice-region dt{
    background:url(../img/add-gray.png) no-repeat center center;
    cursor:pointer;
}
.details-type{
    margin-top:10px;

    display:none;
}
.details-type .typeTit{
    color:#fe5757;
    margin-bottom:10px;
    font-size:16px;
}
.type-container{
    width:600px;
    border:1px solid #e1e1e1;
}
.type-content{
    height:44px;
    line-height:44px;
    padding:0 20px;
    border-bottom:1px solid #e1e1e1;
}
.type-content input{
    width:135px;
    padding-left:10px;
    height:25px;
    line-height:25px;
    margin-right:20px;
    border:1px solid #e1e1e1;
}
.type-content button.addRegion{
    width:92px;
    text-align:center;
    height:30px;
    line-height:30px;
    margin-left:40px;
    color:#fff;
    border-radius:5px;
    padding-left:22px;
    font-size:12px;
    background: #fe5757 url(../img/add-white.png) no-repeat 8px center;
}
.region{
    padding:10px 20px 0 10px;
}
.region .data{
    margin-bottom:10px;
    height:28px;
    line-height:28px;
}
.region .data p{
    float:left;
    margin-right:40px;
}
.region .data input{
    width:62px;
    text-align:center;
    height:26px;
    line-height:26px;
    margin:0 8px;
    border:1px solid #e1e1e1;
}
.region .data button{
    float:right;
    color:#fe5757;
    margin-top:6px;
    font-size:12px;
}
/*****邮费设置*****/
.proPostage{
    width:505px;
    height:200px;
}
.proPostage span.danxuan{
    display:block;
    width:78px;
    text-align:center;
    height:30px;
    line-height:30px;
    color:#666;
    border:1px solid #e1e1e1;
    cursor:default;
    margin-bottom:10px;
}
.proPostage span.on{
    background:url(../img/checked-ok.png) no-repeat 0 0;
}
.proPostage .user-define{
    float:right;
    width:392px;
    padding:20px 10px 10px 10px;
    border:1px solid #e1e1e1;
    display:none;
}
.proPostage .user-define p{
    margin-bottom:10px;
}
.proPostage .user-define input{
    width:62px;
    text-align:center;
    height:26px;
    line-height:26px;
    margin:0 8px;
    border:1px solid #e1e1e1;
}
.proPostage .user-define input.number{
    margin-left:0;
}
/*确认发布按钮*/
button.surepublish{
    display:block;
    margin:10px 0 50px 780px;
    width:120px;
    text-align:center;
    height:30px;
    line-height:30px;
    background-color:#fe5757;
    color:#fff;
    border-radius:5px;
}