/********** content 最右侧内容 *****/
.content{
    position:absolute;
    left:180px;
    right:0;
    top:0;
    bottom:0;
    padding:0 20px;
    background-color:#fff;
    overflow-x:hidden;
    overflow-y:auto;
}
.content h3{
    white-space:nowrap;
    height:53px;
    line-height:53px;
    padding-left:15px;
    font-size:18px;
    font-weight:normal;
    border-bottom:1px solid #e1e1e1;
}
/*修改密码 样式*/
.modify{
    width:530px;
    height:220px;
    margin:70px auto 0;
    font-size:14px;
}
.modify .row{
    height:32px;
    line-height:32px;
    margin-bottom:20px;
}
.modify .row p{
    float:left;
}
.modify .row p.text-right{
    text-align:right;
    width:130px;
    margin-right:8px;
}
.modify .row input{
    padding-left:10px;
    width:210px;
    height:30px;
    line-height:30px;
    border:1px solid #e1e1e1;
    border-radius:5px;
    margin-right:10px;
    *vertical-align:middle;
}
.modify .row em.prompt{
    color:#666;
}
.modify button.sure{
    width:80px;
    height:30px;
    text-align:center;
    line-height:30px;
    color:#fff;
    background-color:#fe5757;
    border-radius:5px;
    margin:25px 0 0 170px;
}
/*密码修改成功*/
p.modify-success{
    margin-top:70px;
    text-align:center;
    font-size:12px;
}
p.modify-success i{
    display:inline-block;
    width:25px;
    height:25px;
    margin-right:10px;
    background:url(../img/duihao.png) no-repeat 0 0;
    background-size:contain;
    vertical-align:middle;
}